@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/*
will wythe blue (prefer ni candace <3) - 7e9ea0
ww blue complements - 618284
blue greens - 197278, 55828b
greens - 2c6e49, 4c956c
mint greens - b0c4b1, cbdfbd, #B3F2DA
muted green - c9cba3, 87bba2

blue - 3279CB
muted blue - 417EA4
pastel blue - b4cbf0, a8b5e0, 8395c1
*/

/*
IDEA: switch to Cyndaquil-inspired theme!!!!! it's my github profile pic after all
*/
:root {
  --light: #f2f0e4;
  --dark: #1f1f1f;
  --blue-1: #3279cb;
  --blue-2: #597072;
  --blue-2-dark: #7e9ea0;
  --yellow-1: #ffec7e;
  --yellow-2: #e1724dff;
  --icon: #737373;

  /* Cyndaquil!! */
  --atomic-tangerine: #ee9162ff;
  --burnt-sienna: #e1724dff;
  --naples-yellow: #f2d045ff;
  --slate-gray: #5f7d83ff;
  --caribbean-current: #356b73ff;
  --peach-yellow: #ebd69dff;
  --khaki: #b1a282ff;
  --licorice: #26110dff;
}

.grid-pattern {
  background-image: repeating-linear-gradient(
      to right,
      var(blue) 0,
      var(blue) 1px,
      transparent 1px,
      transparent 25px
    ),
    repeating-linear-gradient(
      to bottom,
      var(blue) 0,
      var(blue) 1px,
      transparent 1px,
      transparent 25px
    );
}

.animated-border {
  background: linear-gradient(#252525, #252525) padding-box,
    linear-gradient(
        var(--angle),
        var(--blue-1),
        var(--blue-2-dark),
        var(--yellow-1),
        var(--yellow-2)
      )
      border-box;
  animation: 8s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@font-face {
  font-family: 'BricolageGrotesque';
  src: url('../fonts/BricolageGrotesque-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'BricolageGrotesque';
  src: url('../fonts/BricolageGrotesque-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BricolageGrotesque';
  src: url('../fonts/BricolageGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Junicode';
  src: url('../fonts/Junicode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Junicode';
  src: url('../fonts/Junicode-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Junicode';
  src: url('../fonts/Junicode-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* a {
  text-decoration: underline;
} */
